RewriteEngine On
RewriteRule ^index$ index.php
RewriteRule ^category/([0-9]+)$ index.php?category_id=$1
RewriteRule ^tags/([a-zA-Z0-9]+)$ index.php?tag=$1
RewriteRule ^author/([0-9]+)$ index.php?author_id=$1
RewriteRule ^post/([0-9]+)$ post.php?post_id=$1